/* Main setup start */
    body {
        margin: 0; 
    }

    :root{
        --green-color: #2B7F16;
        --red-color: #DF0209;
        --blue-color: #E8F4F4;
        --white-color: #FFFFFF;
    }

    :is(h1, h2, h3) {
    color: var(--green-color);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

    h1 {
        font-size: 2rem;
        color: var(--white-color);
    }
    h2 {
        font-size: 1.5rem;
    }
    .h2--white {
        color: var(--white-color);
    }
    h3 {
        font-size: 1rem;
    }

    .button {
        border-radius: 0.3rem;
        font-family: "Roboto", sans-serif;
        font-size: 0.75rem;
        background: var(--red-color);
        border: 2px solid var(--red-color);
        color: var(--white-color);
        padding: 0.3rem 0.6rem;
        margin-bottom: 1rem;
    }

    .button--big {
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }

    .button:hover {
        background-color: var(--white-color);
        color: var(--red-color);
    }

    p {
        color: black; 
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 400;
    }

    .input__required-red {
        color: var(--red-color);
        display: inline;
        margin: 0;
    }

    form label {
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .input {
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    

/* Main setup slut */


/* Header, Navigation Start */

    .header__menu {
        z-index: 3;
        height: 4.56rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: var(--white-color);

        position: fixed;
        top: 0;
        width: 100%;
    }

    .header__menu-element {
        margin-top: 1rem;
        float: left;
        display: block;
        color: var(--green-color);
        padding: 0.9rem 1rem;
        text-decoration: none;
    }

    /* Burger menu */

        .header__menu #menuLinks {
            z-index: 2;
            position: relative;
            overflow: hidden;
        }

        #menuLinks {   /* Burger menu */
            display: none;
            flex-direction: column;
            position: fixed;

            top: 73px;
            width: 100%;
            background-color: var(--green-color);
            padding: 1rem;
            gap: 1rem;

            font-family: "Roboto", sans-serif;
            font-size: 1.1rem;
            margin-bottom: 1rem;
            font-weight: bold;
            color: var(--white-color);
        }

        #menuLinks a:link {
            color: var(--white-color);
            text-decoration: none;
        }

        #menuLinks a:visited {
            color: var(--white-color);
            text-decoration: none;
        }

        #menuLinks a:hover {
            color: var(--white-color);
            text-decoration: underline;
        }

    /* Burger menu */


    /* Links */

        .header__menu-element a:link {
            color: var(--green-color);
        }

        .header__menu-element a:visited {
            color: var(--green-color);
        }

        .header__menu-element a:hover {
            color: var(--green-color);
        }

        .header__menu-icon {
            font-size: 1.5rem;
            cursor: pointer;
        }

        .header__menu-right {
            float: right 
        }

    /* Links */

/* Header, Navigation Slut */


/* Top section start */

    .top {
        margin-top: 4rem;
        z-index: 1;
        position: relative;
        text-align: center;
    }

    .top__card {
        background-color: grey;
        height: 13rem;
    }

    .top__card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
    }

    .top__card-caption {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .top__card-button {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/* Top section slut */


/* Introduktion og Video, start */

    .introduktion {
        margin: 0 1rem;
    }

    .introduktion__video {
        background-color: grey;
        height: 14rem;
        color: var(--white-color);
        position: relative;
    }

    .introduktion__video img {
         width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
    }

    .introduktion__video-icon {
        position: absolute;
        font-size: 2.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

/* Introduktion og video, slut */


/* Stillingerne, start */

    .stillingerne {
        margin: 0 1rem;
    }

    .stillingerne__cards {
        display: flex;
        flex-direction: row;
        overflow: auto;
        margin: auto;
    }

    .stillingerne__cards-element {
        background-color: var(--blue-color);
        border-radius: 0.5rem;
        margin: 1rem;
        padding: 0.5rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .stillingerne__cards-image img {
        object-fit: cover;
        border-radius: 0.5rem;
        width: 8.8rem;
        height: 6.6rem;
    }

/* Stillingerne, slut */


/* Citater fra de de frivillige, start */

    .quotes {
        margin: 0 1rem;
    }

    .quotes__card {
        background-color: var(--blue-color);
        border-radius: 0.5rem;
        margin: 1rem;
        padding: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;      
    }
    

    .quotes__card-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .quotes__card-quote {
        text-align: left;
    }

    .quotes__card-name {
        margin: 0;
    }

    .quotes__card-icon {
        font-size: 2.7rem;
        color: var(--green-color);
    }

    .quotes__card-job {
        font-style: italic;
        margin: 0.5rem;
    }

/* Citater fra de de frivillige, slut */


/* Grøn Fakta boks, start */

    .fact {
        margin: 24px 16px;
    }

    .fact__card {
        display: flex;
        flex-direction: column;
        background-color: var(--green-color);
        color: var(--white-color);
        border-radius: 0.5rem;
        padding: 0.5rem;
    }

    .fact__card-caption {
        color: var(--white-color);
        margin: 1rem auto;
    }

    .fact__card-text {
        color: var(--white-color);
        list-style-type: circle;
    }


/* Grøn Fakta boks, slut */

/* Banner, start */

    .banner__element {
        margin: 2rem 0rem 1rem 0rem;
        text-align: center;
        background-image: url(images/hero-test-blur.webp);
        background-color: rgba(0,0,0, 0.3);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0.5rem;
    }

    .banner__caption {
        margin: 1rem;
        color: var(--white-color);
    }

    .banner__link a:link {
        margin: 1rem;
        color: var(--white-color);
        text-decoration: none;
    }

    .banner__link a:visited {
        color: var(--white-color);
    }

    .banner__link a:hover {
        margin: 1rem;
        color: var(--white-color);
        text-decoration: underline;
        cursor: pointer;
    }

/* Banner, Slut */


/* Kontaktformular, start */

    .kontakt__caption {
        margin: 1rem 1rem 2rem 1rem;
    }

    .kontakt__menu {
        display: flex;
        flex-direction: column;
        color: var(--white-color);
        background-color: var(--green-color);
        border-radius: 0.5rem;
        padding: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


/* Kontaktformular, slut */


/* Footer start */

    .footer {
        padding: 1rem;
        background-color: var(--green-color);
        color: var(--white-color); 
    }

    .newsletter--caption {
        margin-bottom: 1rem;
    }

    .subscribe-newsletter {
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    .footer-contact {
        list-style: none;
        padding: 0; 
    }

    .footer-contact li {
    list-style: none;
    line-height: 0.2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem; 
    }

    /* Footer contact icons start */
    li.footer-contact--location::before {
        font-family: "Font Awesome 6 Free";
        content: "\f3c5";
        font-weight: 900;
        display: inline-block;
    }

    li.footer-contact--phone::before {
        font-family: "Font Awesome 6 Free";
        content: "\f095";
        font-weight: 900;
    }

    li.footer-contact--email::before {
        font-family: "Font Awesome 6 Free";
        content: "\f0e0";
        font-weight: 900;
    }

    li.footer-contact--website::before {
        font-family: "Font Awesome 6 Free";
        content: "\f0ac";
        font-weight: 900;
    }

    li.footer-contact--cvr::before {
        font-family: "Font Awesome 6 Free";
        content: "\f013";
        font-weight: 900;
    }

    li.footer-contact--heart::before {
        font-family: "Font Awesome 6 Free";
        content: "\f004";
        font-weight: 200;
    }
    /* Footer contact icons slut */

    .footer-contact--p {
        color: var(--white-color);
    }

    .some {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
/* Footer slut */





@media only screen and (min-width: 700px) {  /* MEDIA QUIERY OG RESPONSIV DESIGN, START */

    /**/
        h1 {
            font-size: 4rem;
            color: var(--white-color);
        }

        h2 {
            font-size: 1.5rem;
        }

        .h2--white {
            color: var(--white-color);
        }

        h3 {
            font-size: 1rem;
        }
    /**/

    /* Header, start */

        .header__menu {
            z-index: 3;
            height: 4.56rem;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: var(--white-color);

            position: fixed;
            top: 0;
            width: 100%;
        }

        .header__menu-element {
            margin-top: 1rem;
            float: left;
            display: block;
            color: var(--green-color);
            padding: 0.9rem 1rem;
            text-decoration: none;
        }

    /* Header, slut */


    /* Hero billede section, start */
        .top__card {
            background-color: grey;
            height: 25rem;
        }

        .top__card-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(50%);
        }

        .top__card-caption {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    /* Hero billede, section, slut */

    /* Introduktion og Video, start */

        .introduktion {
            margin: 0 1rem;
        }

        .introduktion__box {
            display: flex;
            flex-direction: row;
            gap: 4rem;
        }

        .introduktion__desc {
            flex-grow: 2;
        }

        .introduktion__video {
            flex-basis: 1400px;
            width: 100%;
            height: 300px;
            background-color: grey;
            color: var(--white-color);
            position: relative;
        }

        .introduktion__video img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(70%);
        }

        .introduktion__video-icon {
            position: absolute;
            font-size: 2.5rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

    /* Introduktion og video, slut */


    /* Stillingerne, start*/

        .stillingerne {
            margin: 0 1rem;
        }

        .stillingerne__cards {
            display: flex;
            flex-direction: row;
            overflow: auto;
            margin: auto;
        }

        .stillingerne__cards-element {
            background-color: var(--blue-color);
            width: 300px;
            border-radius: 0.5rem;
            margin: 1rem;
            padding: 0.6rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .stillingerne__cards-image img {
            object-fit: cover;
            border-radius: 0.5rem;
            width: 13rem;
            height: 9rem;
        }

    /* Stillinger, slut */

    /* Citataer, Start*/

        .quotes__elements {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .quotes__card {
            background-color: var(--blue-color);
            border-radius: 0.5rem;
            margin: 1rem;
            padding: 2rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;  
            flex-basis: 300px;    
        }
        

        .quotes__card-flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    /* Citater, slut */


    /* Kontaktformular, start */

        .kontakt__container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 4rem;
        }

        .kontakt__element1 {
            width: 500px;
        }

        .kontakt__element2 {
            width: 700px;
        }

    /* Kontaktformular, slut */


    /* Footer, start */

        .footer {
            padding: 1rem;
            background-color: var(--green-color);
            color: var(--white-color); 
            gap: 10rem;
            display: flex;
            flex-direction: row-reverse;
        }

        .footer__element1 {
            flex-grow: 1;
        }

        .footer__element2 {
            flex-grow: 1;
        }

    /* Footer, slut */


}  /* MEDIA QUIERY OG RESPONSIV DESIGN, SLUT */

