/* Main setup start */
body {
    margin: 0; 
}

:root{
    --green-color: #2B7F16;
    --red-color: #DF0209;
    --blue-color: #E8F4F4;
}

:is(h1, h2, h3) {
  color: var(--green-color);
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: 2rem;
    color: white;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1rem;
}

.button {
    border-radius: 0.3rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    background: #DF0209;
    border: 2px solid #DF0209;
    color: white;
    padding: 0.3rem 0.6rem;
}

.button--big {
    font-size: 1.25rem;
    padding: 0.4rem 0.8rem;
}

.button:hover {
    background-color: white;
    color: var(--red-color);
}

p {
    color: black; 
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
/* Main setup slut */

/* Footer start */

.footer {
    padding: 1rem;
    background-color: var(--green-color);
    color: white; 
}

.footer-contact {
    list-style: none;
    padding: 0; 
}

.footer-contact li {
  list-style: none;
  line-height: 0.2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem; 
}

/* Footer contact icons start */
li.footer-contact--location::before {
    font-family: "Font Awesome 6 Free";
    content: "\f3c5";
    font-weight: 900;
    display: inline-block;
}

li.footer-contact--phone::before {
    font-family: "Font Awesome 6 Free";
    content: "\f095";
    font-weight: 900;
}

li.footer-contact--email::before {
    font-family: "Font Awesome 6 Free";
    content: "\f0e0";
    font-weight: 900;
}

li.footer-contact--website::before {
    font-family: "Font Awesome 6 Free";
    content: "\f0ac";
    font-weight: 900;
}

li.footer-contact--cvr::before {
    font-family: "Font Awesome 6 Free";
    content: "\f013";
    font-weight: 900;
}

li.footer-contact--heart::before {
    font-family: "Font Awesome 6 Free";
    content: "\f004";
    font-weight: 200;
}
/* Footer contact icons slut */

.footer-contact--p {
    color: white;
}

.some {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}
/* Footer slut */